*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'oswald',sans-serif;
}

.header-top a .phone-icon{
    color: black;
}
.header-top a {
    text-decoration: none;
    color: black;
}